In [6]:
import pandas as pd

In [7]:
dfe1 = pd.read_csv('ModernEval.csv')
dfe1

        Year             Player  Age  MVP  Predicted MVP Share
0    1990-91     Michael Jordan   27    1             1.274617
1    1995-96     Michael Jordan   32    1             1.243537
2    2008-09       LeBron James   24    1             1.180913
3    2016-17  Russell Westbrook   28    1             1.117489
4    1999-00   Shaquille O'Neal   27    1             1.058971
..       ...                ...  ...  ...                  ...
480  2011-12         Steve Nash   37    0            -0.025999
481  1994-95         Jason Kidd   21    0            -0.026351
482  2006-07   Shaquille O'Neal   34    0            -0.026499
483  1992-93      John Stockton   30    0            -0.037849
484  2004-05         P.J. Brown   35    0            -0.043034

[485 rows x 5 columns]

In [8]:
dfe2 = pd.read_csv('MedievalEval.csv')
dfe2

        Year             Player  Age  MVP  Predicted MVP Share
0    2018-19       James Harden   29    0             1.226296
1    1995-96     Michael Jordan   32    1             1.044621
2    2017-18       James Harden   28    1             1.041243
3    1999-00   Shaquille O'Neal   27    1             1.036005
4    2003-04      Kevin Garnett   27    1             1.008522
..       ...                ...  ...  ...                  ...
480  1990-91       Tim Hardaway   24    0            -0.011224
481  1998-99         Shawn Kemp   29    0            -0.011726
482  2007-08  Amar'e Stoudemire   25    0            -0.011794
483  1994-95        Gary Payton   26    0            -0.012716
484  2007-08      Carlos Boozer   26    0            -0.016482

[485 rows x 5 columns]

In [9]:
dfe3 = pd.read_csv('AncientEval.csv')
dfe3

        Year             Player  Age  MVP  Predicted MVP Share
0    2008-09       LeBron James   24    1             1.153368
1    2012-13       LeBron James   28    1             1.144969
2    2003-04      Kevin Garnett   27    1             1.074588
3    2009-10       LeBron James   25    1             1.059715
4    1995-96     Michael Jordan   32    1             0.982469
..       ...                ...  ...  ...                  ...
480  2013-14        Mike Conley   26    0            -0.033556
481  2009-10   Chauncey Billups   33    0            -0.036727
482  1999-00  Darrell Armstrong   31    0            -0.038557
483  1993-94      Dennis Rodman   32    0            -0.039408
484  1995-96      Dennis Rodman   34    0            -0.052528

[485 rows x 5 columns]

In [13]:
df = pd.merge(dfe1, dfe2, on = ['Year', 'Player', 'Age', 'MVP'])

In [15]:
df = pd.merge(df, dfe3, on = ['Year', 'Player', 'Age', 'MVP'])

In [17]:
df.rename(columns = {'Predicted MVP Share_x':'ModernEval', 'Predicted MVP Share_y':'MedievalEval', 'Predicted MVP Share':'AncientEval'})

,Year,Player,Age,MVP,ModernEval,MedievalEval,AncientEval
0,1990-91,Michael Jordan,27,1,1.274617,0.789173,0.921747
1,1995-96,Michael Jordan,32,1,1.243537,1.044621,0.982469
2,2008-09,LeBron James,24,1,1.180913,0.974234,1.153368
3,2016-17,Russell Westbrook,28,1,1.117489,0.632089,0.922378
4,1999-00,Shaquille O'Neal,27,1,1.058971,1.036005,0.894646
...,...,...,...,...,...,...,...
480,2011-12,Steve Nash,37,0,-0.025999,-0.002681,-0.016337
481,1994-95,Jason Kidd,21,0,-0.026351,0.012463,-0.006541
482,2006-07,Shaquille O'Neal,34,0,-0.026499,0.004013,0.013757
483,1992-93,John Stockton,30,0,-0.037849,-0.000478,-0.029448
484,2004-05,P.J. Brown,35,0,-0.043034,-0.000734,-0.015918

In [20]:
df['TotalEval'] = df.iloc[:, 4:7].mean(axis = 1)

In [21]:
df

,Year,Player,Age,MVP,Predicted MVP Share_x,Predicted MVP Share_y,Predicted MVP Share,TotalEval
0,1990-91,Michael Jordan,27,1,1.274617,0.789173,0.921747,0.995179
1,1995-96,Michael Jordan,32,1,1.243537,1.044621,0.982469,1.090209
2,2008-09,LeBron James,24,1,1.180913,0.974234,1.153368,1.102838
3,2016-17,Russell Westbrook,28,1,1.117489,0.632089,0.922378,0.890652
4,1999-00,Shaquille O'Neal,27,1,1.058971,1.036005,0.894646,0.996540
...,...,...,...,...,...,...,...,...
480,2011-12,Steve Nash,37,0,-0.025999,-0.002681,-0.016337,-0.015006
481,1994-95,Jason Kidd,21,0,-0.026351,0.012463,-0.006541,-0.006810
482,2006-07,Shaquille O'Neal,34,0,-0.026499,0.004013,0.013757,-0.002909
483,1992-93,John Stockton,30,0,-0.037849,-0.000478,-0.029448,-0.022592
484,2004-05,P.J. Brown,35,0,-0.043034,-0.000734,-0.015918,-0.019895

In [22]:
df = df.sort_values('TotalEval', ascending=False).reset_index(drop=True)

In [23]:
df

,Year,Player,Age,MVP,Predicted MVP Share_x,Predicted MVP Share_y,Predicted MVP Share,TotalEval
0,2008-09,LeBron James,24,1,1.180913,0.974234,1.153368,1.102838
1,1995-96,Michael Jordan,32,1,1.243537,1.044621,0.982469,1.090209
2,2012-13,LeBron James,28,1,0.991058,0.904366,1.144969,1.013464
3,1999-00,Shaquille O'Neal,27,1,1.058971,1.036005,0.894646,0.996540
4,1990-91,Michael Jordan,27,1,1.274617,0.789173,0.921747,0.995179
...,...,...,...,...,...,...,...,...
480,1990-91,Tim Hardaway,24,0,-0.019109,-0.011224,-0.018409,-0.016247
481,1999-00,Darrell Armstrong,31,0,-0.005778,-0.006910,-0.038557,-0.017082
482,2011-12,Joe Johnson,30,0,-0.025475,-0.001592,-0.032298,-0.019788
483,2004-05,P.J. Brown,35,0,-0.043034,-0.000734,-0.015918,-0.019895
484,1992-93,John Stockton,30,0,-0.037849,-0.000478,-0.029448,-0.022592

In [25]:
df.to_csv('Results.csv', index=False)