In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
df = pd.read_csv('MVP_Candidates.csv')

In [39]:
lebron = df[(df['Player'] == 'LeBron James')].reset_index(drop=True)
lebron = lebron[(lebron['Year'] == '2008-09') | (lebron['Year'] == '2009-10') | (lebron['Year'] == '2010-11') | (lebron['Year'] == '2011-12') | (lebron['Year'] == '2012-13')]
lebron = lebron.sort_values('MVP Share', ascending=False)
lebron

,Player,Pos,Pos_No,Age,Tm,G,GS,Seed,Win %,1.MP,...,6.eFG+,6.FT+,6.TS+,6.FTr+,6.3PAr+,6.FG Add,6.TS Add,MVP,MVP Share,Year
9,LeBron James,PF,4,28,MIA,76,76,1,0.804878,2877,...,121,100,120,146,77.0,288.7,336.6,1,0.998,2012-13
12,LeBron James,SF,3,25,CLE,76,76,1,0.743902,2966,...,109,101,111,168,114.0,134.8,229.4,1,0.980,2009-10
13,LeBron James,SF,3,24,CLE,81,81,1,0.804878,3054,...,106,101,109,155,106.0,97.7,182.8,1,0.969,2008-09
10,LeBron James,SF,3,27,MIA,62,62,4,0.696970,2326,...,114,102,115,156,56.0,156.7,217.8,1,0.888,2011-12
11,LeBron James,SF,3,26,MIA,79,79,3,0.707317,3063,...,109,99,110,149,85.0,127.9,187.1,0,0.431,2010-11

In [40]:
jordan = df[(df['Player'] == 'Michael Jordan')].reset_index(drop=True)
jordan = jordan.sort_values('MVP Share', ascending=False)
jordan = jordan.iloc[0:5].reset_index(drop=True)
jordan

,Player,Pos,Pos_No,Age,Tm,G,GS,Seed,Win %,1.MP,...,6.eFG+,6.FT+,6.TS+,6.FTr+,6.3PAr+,6.FG Add,6.TS Add,MVP,MVP Share,Year
0,Michael Jordan,SG,2,32,CHI,82,82,1,0.878049,3090,...,105,113,107,108,70.0,97.7,172.3,1,0.986,1995-96
1,Michael Jordan,SG,2,28,CHI,80,80,1,0.817073,3102,...,108,110,109,106,63.0,142.6,196.0,1,0.938,1991-92
2,Michael Jordan,SG,2,34,CHI,82,82,1,0.756098,3181,...,99,106,102,116,42.0,-17.9,42.5,1,0.934,1997-98
3,Michael Jordan,SG,2,27,CHI,82,82,2,0.743902,3034,...,112,111,113,114,62.0,218.6,301.1,1,0.928,1990-91
4,Michael Jordan,SG,2,33,CHI,82,82,1,0.841463,3106,...,105,113,106,95,74.0,85.7,132.8,0,0.832,1996-97

In [41]:
hakeem = df[(df['Player'] == 'Hakeem Olajuwon')].reset_index(drop=True)
hakeem = hakeem.sort_values('MVP Share', ascending=False)
hakeem = hakeem.iloc[0:5].reset_index(drop=True)
hakeem

,Player,Pos,Pos_No,Age,Tm,G,GS,Seed,Win %,1.MP,...,6.eFG+,6.FT+,6.TS+,6.FTr+,6.3PAr+,6.FG Add,6.TS Add,MVP,MVP Share,Year
0,Hakeem Olajuwon,C,5,31,HOU,80,80,2,0.707317,3277,...,109,97,107,101,10.0,152.0,144.1,1,0.880,1993-94
1,Hakeem Olajuwon,C,5,30,HOU,82,82,4,0.670732,3242,...,108,103,108,110,5.0,122.6,151.6,0,0.660,1992-93
2,Hakeem Olajuwon,C,5,33,HOU,72,72,8,0.585366,2797,...,103,98,103,111,5.0,48.8,55.2,0,0.211,1995-96
3,Hakeem Olajuwon,C,5,32,HOU,72,72,11,0.573171,2853,...,104,103,104,105,6.0,54.5,71.1,0,0.140,1994-95
4,Hakeem Olajuwon,C,5,34,HOU,78,78,4,0.695122,2852,...,104,107,104,98,5.0,53.1,72.2,0,0.083,1996-97

In [42]:
chuck = df[(df['Player'] == 'Charles Barkley')].reset_index(drop=True)
chuck = chuck.sort_values('MVP Share', ascending=False)
chuck = chuck.iloc[0:5].reset_index(drop=True)
chuck

,Player,Pos,Pos_No,Age,Tm,G,GS,Seed,Win %,1.MP,...,6.eFG+,6.FT+,6.TS+,6.FTr+,6.3PAr+,6.FG Add,6.TS Add,MVP,MVP Share,Year
0,Charles Barkley,PF,4,29,PHO,76,76,1,0.756098,2859,...,111,101,111,131,153.0,148.4,193.4,1,0.852,1992-93
1,Charles Barkley,SF,3,27,PHI,67,67,12,0.536585,2498,...,121,94,119,176,162.0,236.6,292.3,0,0.231,1990-91
2,Charles Barkley,PF,4,31,PHO,68,66,3,0.719512,2382,...,104,101,105,134,102.0,41.4,80.0,0,0.091,1994-95
3,Charles Barkley,SF,3,28,PHI,75,75,19,0.426829,2881,...,116,92,115,190,139.0,179.5,228.0,0,0.019,1991-92
4,Charles Barkley,PF,4,32,PHO,71,71,15,0.500000,2632,...,104,105,108,148,75.0,51.9,121.7,0,0.007,1995-96

In [43]:
david = df[(df['Player'] == 'David Robinson')].reset_index(drop=True)
david = david.sort_values('MVP Share', ascending=False)
david = david.iloc[0:5].reset_index(drop=True)
david

,Player,Pos,Pos_No,Age,Tm,G,GS,Seed,Win %,1.MP,...,6.eFG+,6.FT+,6.TS+,6.FTr+,6.3PAr+,6.FG Add,6.TS Add,MVP,MVP Share,Year
0,David Robinson,C,5,29,SAS,81,81,1,0.756098,3074,...,106,105,111,171,7.0,95.5,218.9,1,0.858,1994-95
1,David Robinson,C,5,28,SAS,80,80,7,0.670732,3241,...,105,102,109,177,15.0,81.0,203.2,0,0.723,1993-94
2,David Robinson,C,5,30,SAS,82,82,4,0.719512,3019,...,104,103,109,181,3.0,50.5,164.8,0,0.508,1995-96
3,David Robinson,C,5,25,SAS,82,81,6,0.670732,3095,...,113,100,115,178,6.0,177.7,275.7,0,0.496,1990-91
4,David Robinson,C,5,26,SAS,68,68,10,0.573171,2564,...,113,92,112,171,9.0,139.1,174.2,0,0.351,1991-92

In [44]:
karl = df[(df['Player'] == 'Karl Malone')].reset_index(drop=True)
karl = karl.sort_values('MVP Share', ascending=False)
karl = karl.iloc[0:5].reset_index(drop=True)
karl

,Player,Pos,Pos_No,Age,Tm,G,GS,Seed,Win %,1.MP,...,6.eFG+,6.FT+,6.TS+,6.FTr+,6.3PAr+,6.FG Add,6.TS Add,MVP,MVP Share,Year
0,Karl Malone,PF,4,33,UTA,82,82,2,0.780488,2998,...,112,102,112,137,4.0,179.1,240.9,1,0.857,1996-97
1,Karl Malone,PF,4,34,UTA,81,81,2,0.756098,3030,...,111,103,114,170,3.0,154.6,268.5,0,0.726,1997-98
2,Karl Malone,PF,4,35,UTA,49,49,2,0.740000,1832,...,106,108,113,183,1.0,44.0,132.8,1,0.701,1998-99
3,Karl Malone,PF,4,31,UTA,82,82,2,0.731707,3126,...,108,101,109,135,14.0,123.5,174.3,0,0.507,1994-95
4,Karl Malone,PF,4,28,UTA,81,81,5,0.670732,3054,...,108,103,113,187,13.0,122.7,256.3,0,0.273,1991-92

In [45]:
dataframe = [lebron, jordan, hakeem, chuck, david, karl]

In [46]:
# 2012-13
d1213 = pd.concat([df.iloc[[0]] for df in dataframe]).reset_index(drop=True)

# 2009-10
d0910 = pd.concat([df.iloc[[1]] for df in dataframe]).reset_index(drop=True)

# 2008-09
d0809 = pd.concat([df.iloc[[2]] for df in dataframe]).reset_index(drop=True)

# 2011-12
d1112 = pd.concat([df.iloc[[3]] for df in dataframe]).reset_index(drop=True)

# 2010-11
d1011 = pd.concat([df.iloc[[4]] for df in dataframe]).reset_index(drop=True)

d = {'2008-09':d0809, '2009-10':d0910, '2010-11':d1011, '2011-12':d1112, '2012-13':d1213}

In [47]:
d1213

,Player,Pos,Pos_No,Age,Tm,G,GS,Seed,Win %,1.MP,...,6.eFG+,6.FT+,6.TS+,6.FTr+,6.3PAr+,6.FG Add,6.TS Add,MVP,MVP Share,Year
0,LeBron James,PF,4,28,MIA,76,76,1,0.804878,2877,...,121,100,120,146,77.0,288.7,336.6,1,0.998,2012-13
1,Michael Jordan,SG,2,32,CHI,82,82,1,0.878049,3090,...,105,113,107,108,70.0,97.7,172.3,1,0.986,1995-96
2,Hakeem Olajuwon,C,5,31,HOU,80,80,2,0.707317,3277,...,109,97,107,101,10.0,152.0,144.1,1,0.880,1993-94
3,Charles Barkley,PF,4,29,PHO,76,76,1,0.756098,2859,...,111,101,111,131,153.0,148.4,193.4,1,0.852,1992-93
4,David Robinson,C,5,29,SAS,81,81,1,0.756098,3074,...,106,105,111,171,7.0,95.5,218.9,1,0.858,1994-95
5,Karl Malone,PF,4,33,UTA,82,82,2,0.780488,2998,...,112,102,112,137,4.0,179.1,240.9,1,0.857,1996-97

In [48]:
leagueavs = pd.read_csv('LeagueAveragesByYear.csv')

In [49]:
seasons = ['2008-09', '2009-10', '2010-11', '2011-12', '2012-13']

In [50]:
for season in seasons:
    yearavs = leagueavs[(leagueavs['Season'] == season)].reset_index(drop=True)
    possper48 = yearavs['Pace']
    dseason = d[season]
    mult_factor = possper48 / (48 * 100)
    for i in dseason.index:
        mf = dseason['2.MP'][i] * mult_factor
        dseason['2.FG'][i] = mf * dseason['4.FG'][i]
        dseason['2.FGA'][i] = mf * dseason['4.FGA'][i]
        dseason['2.3P'][i] = mf * dseason['4.3P'][i]
        dseason['2.3PA'][i] = mf * dseason['4.3PA'][i]
        dseason['2.2P'][i] = mf * dseason['4.2P'][i]
        dseason['2.2PA'][i] = mf * dseason['4.2PA'][i]
        dseason['2.FT'][i] = mf * dseason['4.FT'][i]
        dseason['2.FTA'][i] = mf * dseason['4.FTA'][i]
        dseason['2.ORB'][i] = mf * dseason['4.ORB'][i]
        dseason['2.DRB'][i] = mf * dseason['4.DRB'][i]
        dseason['2.TRB'][i] = mf * dseason['4.TRB'][i]
        dseason['2.AST'][i] = mf * dseason['4.AST'][i]
        dseason['2.STL'][i] = mf * dseason['4.STL'][i]
        dseason['2.BLK'][i] = mf * dseason['4.BLK'][i]
        dseason['2.TOV'][i] = mf * dseason['4.TOV'][i]
        dseason['2.PF'][i] = mf * dseason['4.PF'][i]
        dseason['2.PTS'][i] = mf * dseason['4.PTS'][i]

        dseason['1.FG'][i] = dseason['G'][i] * dseason['2.FG'][i]
        dseason['1.FGA'][i] = dseason['G'][i] * dseason['2.FGA'][i]
        dseason['1.3P'][i] = dseason['G'][i] * dseason['2.3P'][i]
        dseason['1.3PA'][i] = dseason['G'][i] * dseason['2.3PA'][i]
        dseason['1.2P'][i] = dseason['G'][i] * dseason['2.2P'][i]
        dseason['1.2PA'][i] = dseason['G'][i] * dseason['2.2PA'][i]
        dseason['1.FT'][i] = dseason['G'][i] * dseason['2.FT'][i]
        dseason['1.FTA'][i] = dseason['G'][i] * dseason['2.FTA'][i]
        dseason['1.ORB'][i] = dseason['G'][i] * dseason['2.ORB'][i]
        dseason['1.DRB'][i] = dseason['G'][i] * dseason['2.DRB'][i]
        dseason['1.TRB'][i] = dseason['G'][i] * dseason['2.TRB'][i]
        dseason['1.AST'][i] = dseason['G'][i] * dseason['2.AST'][i]
        dseason['1.STL'][i] = dseason['G'][i] * dseason['2.STL'][i]
        dseason['1.BLK'][i] = dseason['G'][i] * dseason['2.BLK'][i]
        dseason['1.TOV'][i] = dseason['G'][i] * dseason['2.TOV'][i]
        dseason['1.PF'][i] = dseason['G'][i] * dseason['2.PF'][i]
        dseason['1.PTS'][i] = dseason['G'][i] * dseason['2.PTS'][i]

C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.FG'][i] = mf * dseason['4.FG'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.FGA'][i] = mf * dseason['4.FGA'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.3P'][i] = mf * dseason['4.3P'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.3PA'][i] = mf * dseason['4.3PA'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.2P'][i] = mf * dseason['4.2P'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.2PA'][i] = mf * dseason['4.2PA'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.FT'][i] = mf * dseason['4.FT'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.FTA'][i] = mf * dseason['4.FTA'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.ORB'][i] = mf * dseason['4.ORB'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.DRB'][i] = mf * dseason['4.DRB'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.TRB'][i] = mf * dseason['4.TRB'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.AST'][i] = mf * dseason['4.AST'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.STL'][i] = mf * dseason['4.STL'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.BLK'][i] = mf * dseason['4.BLK'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.TOV'][i] = mf * dseason['4.TOV'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.PF'][i] = mf * dseason['4.PF'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['2.PTS'][i] = mf * dseason['4.PTS'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.FG'][i] = dseason['G'][i] * dseason['2.FG'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.FGA'][i] = dseason['G'][i] * dseason['2.FGA'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.3P'][i] = dseason['G'][i] * dseason['2.3P'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.3PA'][i] = dseason['G'][i] * dseason['2.3PA'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.2P'][i] = dseason['G'][i] * dseason['2.2P'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.2PA'][i] = dseason['G'][i] * dseason['2.2PA'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.FT'][i] = dseason['G'][i] * dseason['2.FT'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.FTA'][i] = dseason['G'][i] * dseason['2.FTA'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.ORB'][i] = dseason['G'][i] * dseason['2.ORB'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.DRB'][i] = dseason['G'][i] * dseason['2.DRB'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.TRB'][i] = dseason['G'][i] * dseason['2.TRB'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.AST'][i] = dseason['G'][i] * dseason['2.AST'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.STL'][i] = dseason['G'][i] * dseason['2.STL'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.BLK'][i] = dseason['G'][i] * dseason['2.BLK'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.TOV'][i] = dseason['G'][i] * dseason['2.TOV'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.PF'][i] = dseason['G'][i] * dseason['2.PF'][i]
C:\Users\ishan\AppData\Local\Temp\ipykernel_9732\3588231187.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dseason['1.PTS'][i] = dseason['G'][i] * dseason['2.PTS'][i]

In [51]:
histo_test2 = pd.DataFrame()
histo_test2_1213 = pd.DataFrame()
for i in d.values():
    histo_test2 = pd.concat([histo_test2, i], ignore_index=True)
histo_test2_1213 = histo_test2.iloc[24:]
histo_test2 = histo_test2.iloc[:24]

In [52]:
histo_test2_1213

,Player,Pos,Pos_No,Age,Tm,G,GS,Seed,Win %,1.MP,...,6.eFG+,6.FT+,6.TS+,6.FTr+,6.3PAr+,6.FG Add,6.TS Add,MVP,MVP Share,Year
24,LeBron James,PF,4,28,MIA,76,76,1,0.804878,2877,...,121,100,120,146,77.0,288.7,336.6,1,0.998,2012-13
25,Michael Jordan,SG,2,32,CHI,82,82,1,0.878049,3090,...,105,113,107,108,70.0,97.7,172.3,1,0.986,1995-96
26,Hakeem Olajuwon,C,5,31,HOU,80,80,2,0.707317,3277,...,109,97,107,101,10.0,152.0,144.1,1,0.880,1993-94
27,Charles Barkley,PF,4,29,PHO,76,76,1,0.756098,2859,...,111,101,111,131,153.0,148.4,193.4,1,0.852,1992-93
28,David Robinson,C,5,29,SAS,81,81,1,0.756098,3074,...,106,105,111,171,7.0,95.5,218.9,1,0.858,1994-95
29,Karl Malone,PF,4,33,UTA,82,82,2,0.780488,2998,...,112,102,112,137,4.0,179.1,240.9,1,0.857,1996-97

In [53]:
histo_test2

,Player,Pos,Pos_No,Age,Tm,G,GS,Seed,Win %,1.MP,...,6.eFG+,6.FT+,6.TS+,6.FTr+,6.3PAr+,6.FG Add,6.TS Add,MVP,MVP Share,Year
0,LeBron James,SF,3,24,CLE,81,81,1,0.804878,3054,...,106,101,109,155,106.0,97.7,182.8,1,0.969,2008-09
1,Michael Jordan,SG,2,34,CHI,82,82,1,0.756098,3181,...,99,106,102,116,42.0,-17.9,42.5,1,0.934,1997-98
2,Hakeem Olajuwon,C,5,33,HOU,72,72,8,0.585366,2797,...,103,98,103,111,5.0,48.8,55.2,0,0.211,1995-96
3,Charles Barkley,PF,4,31,PHO,68,66,3,0.719512,2382,...,104,101,105,134,102.0,41.4,80.0,0,0.091,1994-95
4,David Robinson,C,5,30,SAS,82,82,4,0.719512,3019,...,104,103,109,181,3.0,50.5,164.8,0,0.508,1995-96
5,Karl Malone,PF,4,35,UTA,49,49,2,0.740000,1832,...,106,108,113,183,1.0,44.0,132.8,1,0.701,1998-99
6,LeBron James,SF,3,25,CLE,76,76,1,0.743902,2966,...,109,101,111,168,114.0,134.8,229.4,1,0.980,2009-10
7,Michael Jordan,SG,2,28,CHI,80,80,1,0.817073,3102,...,108,110,109,106,63.0,142.6,196.0,1,0.938,1991-92
8,Hakeem Olajuwon,C,5,30,HOU,82,82,4,0.670732,3242,...,108,103,108,110,5.0,122.6,151.6,0,0.660,1992-93
9,Charles Barkley,SF,3,27,PHI,67,67,12,0.536585,2498,...,121,94,119,176,162.0,236.6,292.3,0,0.231,1990-91
10,David Robinson,C,5,28,SAS,80,80,7,0.670732,3241,...,105,102,109,177,15.0,81.0,203.2,0,0.723,1993-94
11,Karl Malone,PF,4,34,UTA,81,81,2,0.756098,3030,...,111,103,114,170,3.0,154.6,268.5,0,0.726,1997-98
12,LeBron James,SF,3,26,MIA,79,79,3,0.707317,3063,...,109,99,110,149,85.0,127.9,187.1,0,0.431,2010-11
13,Michael Jordan,SG,2,33,CHI,82,82,1,0.841463,3106,...,105,113,106,95,74.0,85.7,132.8,0,0.832,1996-97
14,Hakeem Olajuwon,C,5,34,HOU,78,78,4,0.695122,2852,...,104,107,104,98,5.0,53.1,72.2,0,0.083,1996-97
15,Charles Barkley,PF,4,32,PHO,71,71,15,0.500000,2632,...,104,105,108,148,75.0,51.9,121.7,0,0.007,1995-96
16,David Robinson,C,5,26,SAS,68,68,10,0.573171,2564,...,113,92,112,171,9.0,139.1,174.2,0,0.351,1991-92
17,Karl Malone,PF,4,28,UTA,81,81,5,0.670732,3054,...,108,103,113,187,13.0,122.7,256.3,0,0.273,1991-92
18,LeBron James,SF,3,27,MIA,62,62,4,0.696970,2326,...,114,102,115,156,56.0,156.7,217.8,1,0.888,2011-12
19,Michael Jordan,SG,2,27,CHI,82,82,2,0.743902,3034,...,112,111,113,114,62.0,218.6,301.1,1,0.928,1990-91
20,Hakeem Olajuwon,C,5,32,HOU,72,72,11,0.573171,2853,...,104,103,104,105,6.0,54.5,71.1,0,0.140,1994-95
21,Charles Barkley,SF,3,28,PHI,75,75,19,0.426829,2881,...,116,92,115,190,139.0,179.5,228.0,0,0.019,1991-92
22,David Robinson,C,5,25,SAS,82,81,6,0.670732,3095,...,113,100,115,178,6.0,177.7,275.7,0,0.496,1990-91
23,Karl Malone,PF,4,31,UTA,82,82,2,0.731707,3126,...,108,101,109,135,14.0,123.5,174.3,0,0.507,1994-95

In [54]:
histo_test2.to_csv('HistoTest2.csv')

In [55]:
histo_test2_1213.to_csv('HistoTest2-12_13.csv')